<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandleLockDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58961EDF1D2FA3AC009D5E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58961EF31D2FA3B4009D5E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58961EFE1D2FA3B4009D5E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
